/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Anton', sans-serif;
}
h1 {
  font-size: 3.6rem;
}
h2 {
  font-size: 2.8rem;
  padding-bottom: 10px;
}
h3 {
  font-size: 2.5rem;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 2rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
nav {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: flex-end;
}
nav a {
  font-size: 2rem;
  color: black;
  text-decoration: none;
}
@media (max-width: 800px) {
  nav {
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    padding: 2% 0 0 0;
  }
}
@media (max-width: 500px) {
  nav {
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    padding: 2% 0 0 0;
  }
}
.footer {
  width: 100%;
  background: #17A2B8;
}
.footer p {
  text-align: center;
  color: #212529;
  font-size: 1.6rem;
  padding: 20px;
}
@media (max-width: 800px) {
  .home {
    max-width: 100%;
  }
}
@media (max-width: 500px) {
  .home {
    max-width: 100%;
  }
}
.home header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 2%;
  align-items: flex-end;
  background-color: #17A2B8;
}
@media (max-width: 500px) {
  .home header {
    flex-direction: column;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
  }
}
@media (max-width: 800px) {
  .home header {
    flex-direction: column;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
  }
}
.home .content-pick {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media (max-width: 500px) {
  .home .content-pick {
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    max-width: 100%;
    text-align: center;
  }
}
.home .top-text {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  flex-direction: column;
  padding: 5% 0;
}
@media (max-width: 800px) {
  .home .top-text {
    flex-direction: column;
    padding: 5% 5% 5% 5%;
  }
}
@media (max-width: 500px) {
  .home .top-text {
    flex-direction: column;
    align-content: center;
    padding: 3% 5%;
    text-align: center;
  }
}
.home .content-main {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10%;
}
.home .content-main .cta {
  width: 40%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-evenly;
}
.home .content-main .cta a {
  text-decoration: none;
}
.home .content-main .cta p {
  padding: 10% 0;
}
@media (max-width: 500px) {
  .home .content-main .cta p {
    padding: 5% 0;
  }
}
@media (max-width: 800px) {
  .home .content-main .cta {
    width: 60%;
    max-width: 100%;
    padding: 0 5%;
  }
}
@media (max-width: 500px) {
  .home .content-main .cta {
    width: 100%;
    display: flex;
    text-align: center;
    padding: 5% 0;
    background-color: #C0C0C0;
    background-image: url(../img/barbell_small.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-blend-mode: overlay;
  }
}
.home .content-main .secondImg {
  display: flex;
  max-width: 100%;
  width: 60%;
  padding: 0 0 0 5%;
  justify-content: flex-end;
}
@media (max-width: 800px) {
  .home .content-main .secondImg {
    padding: 0 5%;
  }
}
@media (max-width: 500px) {
  .home .content-main .secondImg {
    display: none;
    visibility: hidden;
  }
}
.home .btn {
  background-color: #17A2B8;
  color: #FFFFFF;
  text-align: center;
  width: 100%;
  border-radius: 15px;
  padding: 15px 30px;
  font-size: 3rem;
}
.home .btn:hover {
  background-color: #212529;
}
.home #about {
  padding-top: 5%;
  text-align: center;
}
@media (max-width: 800px) {
  .home #about {
    flex-direction: column;
    align-content: center;
    padding: 5% 5%;
  }
}
@media (max-width: 500px) {
  .home #about {
    flex-direction: column;
    align-content: center;
    padding: 5% 5%;
  }
}
.home .about {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 10%;
}
.home .about .team {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 100%;
  width: 30%;
}
@media (max-width: 800px) {
  .home .about .team {
    width: 40%;
  }
}
@media (max-width: 500px) {
  .home .about .team {
    width: 100%;
  }
}
.home .about .team .circle {
  border-radius: 50%;
}
.home .about .team .teamTitle {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  padding: 10% 0;
  text-align: center;
}
.home .contact {
  max-width: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #C0C0C0;
  background-image: url(../img/barbell_small.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  padding: 5%;
}
.home .contact form {
  max-width: 100%;
  width: 100;
  display: flex;
  flex-direction: column;
  font-size: 2.1rem;
}
.home .contact form .col-2 {
  max-width: 100%;
  width: 100%;
  display: flex;
  align-content: center;
  padding: 5%;
}
@media (max-width: 500px) {
  .home .contact form .col-2 {
    flex-direction: column;
  }
}
.home .contact form .col-2 label {
  padding-right: 2%;
  max-width: 100%;
  width: 100%;
}
@media (max-width: 500px) {
  .home .contact form .col-2 label {
    padding: 5%;
  }
}
.home .contact form .col-1 {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 5%;
}
@media (max-width: 500px) {
  .home .contact form .col-1 {
    flex-direction: column;
  }
}
