.home {


  @media @tablet {
    max-width:100%;
  }  
  
    @media @mobile {
      max-width:100%;
    }  



  header{
    width:100%;
    .displayflex(space-between, center);
     padding:2%;
     align-items: flex-end;
     background-color: @header-bg;

    @media @mobile {
      flex-direction:column;
      max-width: 100%;
      .displayflex(space-between, center);
      align-items: center;
    }

    @media @tablet {
      flex-direction:column;
      max-width: 100%;
      .displayflex(space-between, center);
      align-items: center;
    }

  } 
  .content-pick {
    display: flex;
    justify-content: space-between;
    width: 100%;

    @media @mobile {
      flex-direction: column;
      justify-content: space-evenly;
      width:100%;
      max-width: 100%;
      text-align: center;
    }
  }

  .top-text{
    .displayflex(space-between,flex-start);
    flex-direction: column;
    padding: 5% 0;

    @media @tablet {
      flex-direction: column;
      padding:5% 5% 5% 5%;
    } 

    @media @mobile {
      flex-direction: column;
      align-content: center;
      padding:3% 5%;
      text-align: center;
    } 
  }


  .content-main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10%;
    
  
   

    // @media @mobile {
    //   //flex-direction: column;
    // //  justify-content: space-evenly;
    //   //justify-content: center;
    //  // width:100%;
    //  // max-width: 100%;
    //   // display: inline-block;
     
    //  // padding:4% 5%;
   

    // }

    .cta {
      width: 40%;
      max-width: 100%; 
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: space-evenly;

      a{
        text-decoration: none;
      }


     
      p{
        padding: 10% 0;

        @media @mobile {
          padding: 5% 0;
        }
        
      }
      @media @tablet {
        width: 60%;
        max-width:100%;
        padding:0 5%;
      } 
      
      @media @mobile {
        width: 100%;
        display: flex;
        text-align: center;
        padding: 5% 0;
        background-color: @mobile-bottom-bg;

        background-image: url(../img/barbell_small.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        background-blend-mode: overlay;
      }
    }



      .secondImg{
        display: flex;
        max-width: 100%;
        width: 60%;
          padding:0 0 0 5%;
        justify-content: flex-end;

        @media @tablet {
          padding: 0 5%;
        }
    
        @media @mobile {
          display: none;
          visibility: hidden;
        }
      }

      
    }

  .btn{
    .buttonbox(@button-bg, @white, 15px, 100%, center);   


  }

  .btn:hover{
    background-color: @shark;
  }

  #about{
    padding-top: 5%;
    text-align: center;

    @media @tablet {
      flex-direction: column;
      align-content: center;
      padding:5% 5%;
    } 

    @media @mobile {
      flex-direction: column;
      align-content: center;
      padding:5% 5%;
    } 





  }
  .about {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 10%;

    .team{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      max-width: 100%;
      width: 30%;

      @media @tablet {
        width: 40%;
      } 
  
      @media @mobile {
        width: 100%
      } 

      .circle{
        border-radius: 50%;
      }

     .teamTitle{
       display: flex;
       flex-direction: column;
       //justify-content: space-evenly;
       align-items: space-between;
       padding: 10% 0;
       text-align: center;
     }
      
    }
  
  }

 // .contact{
//     display: block;
//     max-width: 100%;
//     width: 100%;
    
    
//     justify-content: center;
//     align-items: flex-start;
//     background-color: red;
//     //text-align: auto;
// }
}// home